.jumbotron {
    margin-bottom:3rem;
    background: linear-gradient(180deg,#d0d0d0,#000000);
    padding: 9rem 3rem 8rem;
    border-radius: 0;
    color:#fff;
    text-align: center;  
    h1 {
        margin-bottom: .8rem;
    }
    .lead {
        margin-bottom: .8rem;
    }
    hr {
        border: 1px solid #000000;
    }
}